/* CSS reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "MS Comic Sans", cursive;
}

body {
    height: 100vh;
}

h1 {
    margin: 1em;
    text-align: center;
}

.d-none {
    display: none !important;
}

/* Board */
#board {
    width: 80%;
    list-style: none;
    padding: 1em 1em;
    margin: 2em auto;
    background-color: lightgoldenrodyellow;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, auto));
    justify-content: space-evenly;
    gap: 1em;
}

.card {
    background-color: black;
    height: 160px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.back {
    position: absolute;
    inset: 3px;
    background-color: darkred;
}

.front {
    position: absolute;
    inset: 3px;
}

.card .front img {
    max-width: 100%;
    max-height: 100%;
}

.hidden {
    visibility: hidden;
}

/* Result div */
#result, form, #ability {
    background-color: bisque;
    color: black;
    border: 2px solid black;
    border-radius: 15px;
    width: 80%;
    min-height: 50px;
    margin: 2em auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap
}

#result div {
    font-size: 1.5em;
    font-weight: bold;
    margin: 1em;
}

#win {
    margin: 2em auto;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    padding: 1em 0.5em;
    display: none;
    width: 60%;
    animation: pulsing 1s infinite;
}

@keyframes pulsing {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
}

/* Form: email, level */
form {
    width: 80%;
    margin: auto;
    padding: 1em;
    gap: 1em;
    flex-wrap: wrap;
}

form label {
    /* margin: 1em; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

form input, form select {
    padding: 0.4em;
    max-width: 100%;
}

button {
    font-weight: bold;
    padding: 0.4em 1em;
    text-transform: uppercase;
    flex-grow: 1;
    cursor: pointer;
}

form p {
    color: red;
}

#ability {
    gap: 1em;
    padding: 1em;
}

#ability button {
    width: var(50% - 1em);
}

/* Menü */
nav {
    margin: 1em auto;
    width: 80%;
    background-color: bisque;
    display: flex;
}

a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 1em;
    flex-grow: 1;
    text-align: center;
}

a:hover, a.active {
    background-color: hsl(33, 100%, 78%);
}